<%- include('../partials/header.ejs') %>
<nav class="navbar">
  <h1>
    <a href="/dashboard">Dashboard | <%= user.name %></a>
  </h1>
  <ul>
    <li><a href="/logout">Log out</a></li>
  </ul>
</nav>
<div class="container">
  <main class="content">
    <form action="/api/posts/<%= blog._id %>" method="post">
      <input
        type="text"
        name="title"
        id="title"
        value="<%= blog.title %>"
        placeholder="Choose a title for your blog"
      />
      <textarea name="content" id="text" placeholder="Blog text goes here">
<%= blog.content %></textarea
      >
      <button>Save</button>
    </form>
    <form action="/api/posts/delete/<%= blog._id %>" method="post">
      <button>
        <span class="lnr lnr-trash"></span>
      </button>
    </form>
  </main>
</div>
<%- include('../partials/footer.ejs') %>
